* {
  margin: 0;
  padding: 0;
}

div {
  width: 20%;
  height: 133px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1em;
  font-size: large;
}

div:hover {
  cursor: pointer;
  border: 1px solid white;
}

span {
  display: flex;
  position: relative;
}

.f6e58d {
  background-color: #f6e58d;
}

.ffbe76 {
  background-color: #ffbe76;
}

.ff7979 {
  background-color: #ff7979;
}

.badc58 {
  background-color: #badc58;
}

.dff9fb {
  background-color: #dff9fb;
}

/* 2nd row */

.f9ca24 {
  background-color: #f9ca24;
}

.f0932b {
  background-color: #f0932b;
}

.eb4d4b {
  background-color: #eb4d4b;
}

.c7ecee {
  background-color: #c7ecee;
}

.f7ed6df {
  background-color: #7ed6df;
}

.e056fd {
  background-color: #e056fd;
}

.f686de0 {
  background-color: #686de0;
}

.f30336b {
  background-color: #30336b;
}

.e74c3c {
  background-color: #e74c3c;
}

.a16a085 {
  background-color: #16a085;
}

.a2c3e50 {
  background-color: #2c3e50;
}
