body {
  background-color: #3c40c6;
}

a {
  text-decoration: none;
  color: black;
  font-size: large;
}

iframe {
  border: 1px solid;
  border-radius: 2%;
  width: 95%;
  margin: 5px;
}

span {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 1.5em;
}

div {
  width: 26%;
  height: 160px;
  padding: 10px 10px 30px;
  border: 1px solid white;
  border-radius: 2%;
  background-color: whitesmoke;
  text-align: left;
}
