body {
  background-color: #3c40c6;
}

span {
  margin: 10px;
  padding: 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 1.5em;
}

div {
  width: 26%;
  height: 200px;
  border: 1px solid white;
  border-radius: 2%;
  background-color: whitesmoke;
}
